<div class="career">
    <h1>Carrer Guidance</h1>
    <p>Astrology can offer valuable insights into a person's career path, talents, and potential for success in different professions. Astrologers can provide career guidance based on an individual's natal chart and current astrological influences.</p>
    <img src="https://t4.ftcdn.net/jpg/06/49/03/37/240_F_649033722_EIgnkWbdruJG9I00sPfu9dglcjayX0Ke.jpg">
</div>

<div class="natal-chart">
    <h1>Natal-Chart</h1>
    <img src="https://t3.ftcdn.net/jpg/04/32/04/20/240_F_432042060_mMjOllV68HJKTAZtjZVDIy2fQgZbJ4qw.jpg">
</div>
<div class="time-events">
    <h1>Time-Events</h1>
    <img src="https://ik.imagekit.io/pu0hxo64d/uploads/gallery/tr:w-450,h-250/terrace-area-at-kaaina-palace-690.jpg">
</div>
<div>
    <h1>ompatability-Analysis</h1>
<img src="https://www.shutterstock.com/shutterstock/photos/1937599684/display_1500/stock-photo-concept-of-couple-having-perfect-intimate-match-and-love-compatibility-between-zodiac-signs-1937599684.jpg">
</div>